.container {
    background: #f5f5f5;
}
.top-tabs-container {
    height: 0.96rem;
}
.top-tabs {
    position: relative;
    display: flex;
    padding: 0 0.48rem;
    background: #ffffff;
    // &:after{
    //   @include setBottomLine(rgba(0,0,0,0.08),-.48rem,-.48rem);
    // }
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .top-tab-item {
        flex: 1;
        text-align: center;
        font-size: 0.32rem;
        color: rgba(0, 0, 0, 0.85);
        line-height: 0.96rem;
        &.active {
            position: relative;
            // font-weight: $font-medium;
            &:after {
                position: absolute;
                content: '';
                width: 0.64rem;
                height: 0.08rem;
                background: #00b9d1;
                border-radius: 0.08rem;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -0.01rem;
            }
        }
    }
}
.pneumonia-section {
    padding: 0 0.48rem 0.48rem 0.48rem;
    background: #fff;
    margin-bottom: 0.16rem;
}
.expert-tab {
    padding: 0.24rem 0.48rem 0.48rem;
    background: #ffffff;
}

.header {
    .top-btn {
        position: absolute;
        left: -0.02rem;
        bottom: 0.92rem;
        font-size: 0;
        .btn-bg {
            width: 5.28rem;
            height: 0.96rem;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
        }
    }
}
