@font-face {
    font-family: fangzheng;
    src: local(fangzheng),
        url('https://static.wecity.qq.com/lego_next_resources/temp-eae62e464c6dff4b06071c47733a2928.woff2');
}
@font-face {
    font-family: simplification;
    src: url('https://static.wecity.qq.com/lego_next_resources/simplefangzheng-4af2482652d6f10fd50e46af7514ce5b.woff2');
}

$col-gold: #f4cf9e;
$col-red: #f24b59;
.active:active {
    opacity: 0.5;
}

// 蒙层

.gudie-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    .txt {
        position: absolute;
        top: 70px;
        right: 40px;
        color: #fff;
        font-size: 18px;
    }
    .arrow {
        width: 34px;
        height: 43px;
        background: url('https://s.beta.gtimg.com/hospital_img/plus-lib/mysscard-mini/assets/img/group-new-year/card-page/arrow.png')
            no-repeat;
        background-size: contain;
        transform: scaleX(-1) rotate(180deg);
        position: absolute;
        top: 10px;
        right: 55px;
    }
}
