@import './common.scss';
.group-new-year-record-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a6192d;
    font-family: fangzheng;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .inner-wrap {
        width: 100%;
        position: relative;
        z-index: 10;
        padding-bottom: 30px;
        .rc-img {
            position: absolute;
            right: 3%;
            top: 15px;
            width: 26px;
            height: 26px;
            &.animation {
                animation: reverse 3s linear infinite;
            }
        }
        .title {
            font-size: 25px;
            font-weight: bold;
            color: $col-gold;
            text-align: center;
            padding: 32px 37px 18px;
            line-height: 35px;
            letter-spacing: 1px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .sub-title {
            font-size: 18px;
            color: $col-gold;
            padding-bottom: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                padding-right: 7px;
            }
            .arrow-right {
                width: 8px;
                height: 8px;
                border-top: 1px solid $col-gold;
                border-right: 1px solid $col-gold;
                transform: rotate(45deg);
            }
        }
        .sub-title.footer {
            font-size: 20px;
            padding-top: 24px;
        }
        .card-wrap {
            width: 310px;
            height: 433px;
            position: relative;
            // border-radius: 30px;
            // background-image: linear-gradient(152deg, #ebc08b 0%, #ffebc8 49%, #ecbb81 100%),
            // linear-gradient(
            //     #f2f2f2,
            //     #f2f2f2);
            background-blend-mode: normal, normal;
            margin: 0 auto;
            overflow: hidden;
            transform-style: preserve-3d;
            transition: all 1s;
            .card-type {
                border-radius: 15px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .back {
                transform: rotateY(180deg);
                overflow: hidden;
                // box-shadow: 0px 29px 35px 5px
                // rgba(151, 44, 44, 0.33);
                background-blend-mode: normal, normal;
            }
            .back,
            .front {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all 0.8s;
                transform-style: preserve-3d;
                border-radius: 15px;
                overflow: hidden;
            }
            .front {
                background: url('http://beta.gtimg.com/hospital_img/plus-lib/wap/mid-year-review/backer.png') no-repeat;
                background-size: 100% 100%;
                // background-image: linear-gradient(152deg, #ebc08b 0%, #ffebc8 49%, #ecbb81 100%),
                // linear-gradient(
                //     #f2f2f2,
                //     #f2f2f2);
                background-blend-mode: normal, normal;
                // box-shadow: 0px 29px 35px 5px
                //     rgba(151, 44, 44, 0.33);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 15px;
                transform-style: preserve-3d;
            }
        }
        .btn-big {
            width: 270px;
            height: 48px;
            background: url('https://s.beta.gtimg.com/hospital_img/plus-lib/mysscard-mini/assets/img/group-new-year/card-page/btn-big.png')
                no-repeat;
            background-size: contain;
            font-size: 20px;
            color: $col-gold;
            margin: 27px auto 0;
            text-align: center;
            line-height: 48px;
            user-select: none;
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        .btn-big-yellow {
            color: #ba001a;
            background: url('https://s.beta.gtimg.com/hospital_img/plus-lib/mysscard-mini/assets/img/group-new-year/card-page/btn-big-yellow.png')
                no-repeat;
            background-size: 100% 100%;
        }

        // 弹幕
        // .danmu {
        //     position: absolute;
        //     height: 23.5px;
        //     display: inline-block;
        //     border-radius: 0 18.5px 18.5px 0;
        //     background: $col-red;
        //     color: #fff;
        //     font-size: 14px;
        //     font-family: PingFang-SC-Bold;
        //     line-height: 23.5px;
        //     padding: 0 13px 0 23px;
        //     .avatar-box {
        //         width: 30px;
        //         height: 30px;
        //         position: absolute;
        //         left: -15px;
        //         top: 50%;
        //         transform: translateY(-50%);
        //         .avatar {
        //             width: 30px;
        //             height: 30px;
        //             border-radius: 50%;
        //         }
        //         .cap {
        //             width: 38px;
        //             height: 16.5px;
        //             position: absolute;
        //             left: 50%;
        //             transform: translateX(-50%);
        //             top: -15px;
        //             z-index: -1;
        //         }
        //     }
        // }
    }
}

@keyframes reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
