@import '../../common/mixin.scss';
@import '../../common/variables';

.container-chatroom {
    height: 100vh;
    background: #e6e6e6;
    overflow: hidden;
    .container-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-bd {
        height: 100%;
        flex: 1;
        box-sizing: border-box;
        padding: 15px 0;
    }
    .container-ft {
    }
}
.chat-scrollview {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
