.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    .link {
        position: relative;
        font-size: 28px;
        color: #2c52ee;
        height: 40px;
        line-height: 40px;
        padding: 0 34px !important;
        font-weight: $font-medium;
        & + .link {
            &::before {
                @include one-px-border(left);
                border-color: #2c52ee;
            }
        }
    }
}
