@import './base/fn.scss';

.container-cardexplain {
    padding: 35px;
    min-height: calc(100vh - 70px);
    background-color: $color-bg-white;
    .cardexplain__headline {
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;
        color: #333;
    }
    .cardexplain__title,
    .cardexplain__content {
        font-size: 30px;
        line-height: 54px;
        color: #333;
    }
    .cardexplain__title {
        font-weight: 700;
    }
    .cardexplain__content {
        margin-bottom: 40px;
    }
    .cardexplain__img {
        display: block;
        margin: 40px auto;
        width: 100%;
        height: auto;
    }
}
