@import './base/fn.scss';
@import './base/common.scss';
.container-recordlist {
    min-height: 100vh;
    background-color: $color-bg-white;
    .recordlist-wrap {
        position: relative;
        &:last-child::before {
            content: '';
            position: absolute;
            left: 32px;
            right: 0;
            bottom: 0;
            height: 2px;
            border-top: 1px solid #d8d8d8;
            transform: scaleY(0.5);
        }
    }
    .weui-cell {
        padding: 32px 30px;
        &::before {
            content: '';
            left: 30px;
            height: 2px;
            border-top: 1px solid #d8d8d8;
        }
    }
    .weui-cell__bd {
        font-size: 32px;
        color: $color-000;
    }
    .weui-cell__ft {
        width: 65%;
        font-size: 28px;
        color: $color-666;
    }
}
