@charset "UTF-8";

//-----------------------------------------------------
// 公共通用样式变量
//-----------------------------------------------------

$color-primary: #5675f1;
$color-border: #dfdfdf;
$color-bg-gray: #f7f7f7;
$color-bg-white: #ffffff;
$color-666: #666;
$color-000: #000;

$font-medium: 500;
$font-bold: bold;
