@import '~styles/views/disease/widget/currentReport/widget-cloud-animation';
.ocean-tips-text {
    display: block;
    margin-top: 6px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #888888;
    // padding-right: 10px;
    strong {
        color: #c7211c;
        font-weight: normal;
    }
}

.ocean-list {
    overflow: hidden;
}
.ocean-list-inner {
    overflow: hidden;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.ocean-item {
    width: 50%;
    // float: left;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 5px;
    margin-bottom: 5px;
}
.ocean-item-inner {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 15px 5px 10px 13px;
    height: 90px;
    box-sizing: border-box;
}

.ocean-item-title {
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 9px;
    color: #333;
}

.ocean-data-val {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: block;
    padding-bottom: 6px;
}
.ocean-data-tit {
    font-size: 10px;
    color: #888888;
    display: block;
}

.item-error {
    .ocean-data-val {
        color: #c7211c;
    }
}

.ocean-data {
}
.ocean-data-item {
    width: 33.333%;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    &:first-child {
        text-align: left;
    }
    &:nth-child(2) {
        .ocean-data-val {
            color: #17905b;
        }
    }
    &:last-child {
        text-align: left;
    }
}

.dashboard-item {
    .increase {
        .num {
            padding: 0 0 0 4px;
        }
    }
}

// 海外北大疫情晴雨表
.chart {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    padding: 15px 11px 11px;
    margin: 25px auto;
    &.chart--cloud {
        height: 70px;
        box-sizing: border-box;
        background: #f5f5f5 url('https://static.wecity.qq.com/wapdisease/bg_cloud-c728af0cced13dfddb91dbb662917066.png');
        background-size: 100% 100%;
        .ocean-title-bg {
            background: url('https://static.wecity.qq.com/wapdisease/ico_s_cloud-de0ca8016e59215368a8d05258c0d679.png');
            background-size: 100% 100%;
        }
        .ocean-title-bar {
            .ocean-title-txt-box {
                .ocean-title {
                }
                .ocean-sub-title {
                    font-size: 10px;
                    opacity: 0.8;
                }
            }
        }
    }
    &.chart--knowledge {
        height: 70px;
        box-sizing: border-box;
        background: #f5f5f5 url('https://static.wecity.qq.com/wapdisease/bg_yd-c6029c84e1a4029567c4dc762a3f4bb8.png');
        background-size: 100% 100%;
        .ocean-title-button {
            background: #fff;
            color: #04aad5;
        }
        .ocean-title-bg {
            background: url('https://static.wecity.qq.com/wapdisease/ico_s_yd-f0b8d75b4c2a5854b8282ea9b8b667d2.png');
            background-size: 100% 100%;
        }
    }
    .ocean-title-txt-box {
        height: 40px;
        .ocean-title {
            &:last-child {
                padding-top: 0 !important;
                margin-bottom: 0 !important;
                p {
                    line-height: 1.4;
                }
            }
        }
    }
    .ocean-title-bar-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }
    .ocean-title-bar {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        padding: 0 0 4px 2px;
        .ocean-title-bg {
            width: 29px;
            height: 29px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -15px;
            .img {
                width: 100%;
                height: 100%;
                display: none;
            }
        }
        .ocean-title-txt-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            padding: 0 75px 0 35px;
            .ocean-title {
                font-size: 15px;
                color: #fff;
                line-height: 15px;
                display: flex;
                padding-top: 3px;
                margin-bottom: 6px;
                p {
                    font-weight: bold;
                }
                .highlight {
                    .icon-arrow-right {
                        border-color: #fff;
                        position: relative;
                        top: -2px;
                    }
                }
            }
            .ocean-sub-title {
                font-size: 12px;
                transform-origin: left center;
                transform: scale(0.833);
                opacity: 0.8;
                color: #fff;
                line-height: 15px;
                font-weight: 500;
            }
        }
    }
    .tt {
        line-height: 23px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 10px;
        }
    }
    .tt-svg-ico {
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        svg {
            width: 100%;
            height: 100%;
        }
        .svg-path-tips2 {
            fill: #ccc;
        }
    }
    .tt-ico {
        width: 10px;
        display: inline-block;
        vertical-align: middle;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .tt-tips {
        font-size: 10px;
        color: #888;
        margin-bottom: 5px;
        svg {
            width: 9px;
            height: 9px;
        }
        .svg-path-tips2 {
            fill: #888;
        }
        .txt-tips-color01 {
            color: #c94511;
        }
        .txt-tips-color02 {
            color: #ff971f;
        }
        .txt-tips-color03 {
            color: #0e8afb;
        }
        .txt-tips-color04 {
            color: #62c298;
        }
        .txt-tips-color05 {
            color: #151515;
        }
    }
    .img-box {
        .img {
            width: 100%;
            height: 100%;
        }
    }
}

// 晴雨表按钮
.ocean-title-button {
    width: 70px;
    height: 30px;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    border: 1.5px solid #fff;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 50%;
    margin-top: -16px;
    font-weight: 500;
    span {
        font-weight: 500;
    }
}
