.chart-box-list {
    @mixin border-all {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        width: 200%;
        height: 200%;
        transform-origin: left top;
        transform: scale(0.5);
        border: 1px solid #ebebeb;
        border-radius: 6px;
    }
    margin-left: -20px;
    margin-right: -20px;
    .chart-box-item {
        margin-top: 30px;
    }
    .chart-swiper {
        .chart-box-wrap {
            position: relative;
            padding: 15px 10px 6px;
            .tt-bar {
                display: flex;
                align-items: center;
                .tt {
                    font-size: 14px;
                    color: #333;
                    line-height: 24px;
                    font-weight: 500;
                    margin-right: 6px;
                }
            }
            .chart-box {
                margin-top: 3px;
                padding: 0;
            }
            .legend-list {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 5px;
                .legend-item {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    .square {
                        display: block;
                        width: 10px;
                        height: 10px;
                        &.yellow {
                            background-color: #ffa317;
                            border-radius: 1px;
                        }
                        &.red {
                            background-color: #de5e5b;
                            border-radius: 1px;
                        }
                        &.blue {
                            background-color: #00b9d1;
                            border-radius: 1px;
                        }
                    }
                    .txt {
                        font-size: 9px;
                        color: #010604;
                        opacity: 0.57;
                        margin-left: 5px;
                    }
                }
            }
            .chart-img {
                display: block;
                width: 99%;
                height: 185px;
                margin: 0 auto;
            }
            &:before {
                @include border-all;
            }
        }
    }
    .chart-pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-top: 10px;
        .pagination {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            flex: 1;
            height: 38px;
            box-sizing: border-box;
            background-color: #f9f9f9;
            outline: none;
            border-radius: 3px;
            margin: 0;
            margin-right: 6px;
            color: #333;
            padding: 0 10px;
            text-align: center;
            &:before {
                @include border-all;
            }
            &.active {
                color: #00b9d1;
                background-color: rgba(0, 186, 209, 0.06);
                &:before {
                    border-color: rgba(0, 186, 209, 0.12);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .explain-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-top: 10px;
        font-size: 10px;
        color: #b2b2b2;
        line-height: 14px;
        .explain-box {
            display: flex;
            align-items: center;
            p {
                margin-left: 5px;
            }
        }
    }
    .svg-path-tips {
        fill: #888;
    }
}
// english
.page-english .chart-box-list .chart-pagination .pagination {
    padding: 0 4px;
    margin-right: 3px;
    font-size: 8px;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    word-break: normal;
}
