.ask-page {
    width: 100%;
    height: 100vh;
    background: #eeeff5;
    &-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #eeeff5;
        overflow: hidden;

        .clearfix::after {
            content: '';
            width: 0;
            height: 0;
            clear: both;
            overflow: hidden;
            display: block;
        }

        .font-b {
            font-weight: bold;
        }

        .main-color {
            color: #0d94d7;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .icon-arrow {
            width: 7px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M4.596 5.657L0 1.06 1.06 0l4.597 4.596 1.06 1.06-5.656 5.658L0 10.253l4.596-4.596z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23CACACA' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%23888'%3E%3Cpath d='M-2-1H9v12H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 7px 12px;
        }

        .chartboard {
            width: 100%;
            height: 0;
            flex: 1;
            overflow-y: scroll;
        }

        .header-banner {
            width: 100%;
            height: 82px;
            display: block;
        }

        .body {
            width: 100%;
            line-height: 24px;
            text-align: center;
            overflow-x: hidden;

            .yellow-tips {
                position: relative;
                max-width: 345px;
                margin: 10px auto;
                padding: 5px 24px 5px 15px;
                font-size: 14px;
                text-align: left;
                line-height: 18px;
                color: #000;
                background: #ffedc4;
                border-radius: 999px;
                box-sizing: border-box;
                display: inline-block;

                &.with-arrow {
                    padding: 5px 24px 5px 9px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 50%;
                        right: 8px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        transform: translate3d(0, 50%, 0);
                        background-color: #ffa300;
                        background-image: url("data:image/svg+xml, %3Csvg width='6' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.582 4.42L1.333 1.317l3.25 3.101-3.25 3.263 3.25-3.263zm0 0l.085.08-.085-.08L5 4l-.418.42z' stroke='%23FFF' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='square'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: 4px 7px;
                        background-position: center;
                    }
                }

                .hospital-professor {
                    color: #5675f1;
                    display: block;
                }
            }

            .dialog {
                width: 345px;
                font-size: 16px;
                color: #444;
                margin: 0 auto;
                text-align: left;
                word-break: break-all;

                &-item {
                    position: relative;
                    max-width: 285px;
                    margin: 8px 0;
                    clear: both;

                    .warn,
                    .chat {
                        border-radius: 10px;
                        padding: 10px 22px;

                        &.limit {
                            .text-wrap {
                                position: relative;
                                width: 100%;
                                max-height: 240px;
                                margin-bottom: 10px;
                                overflow: hidden;
                                display: block;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 24px;
                                    background-image: linear-gradient(
                                        rgba(255, 255, 255, 0) 0%,
                                        rgba(255, 255, 255, 1) 80%
                                    );
                                }
                            }
                        }
                        .text-wrap {
                            width: 100%;
                            margin-bottom: 10px;
                            display: block;
                        }
                        .msg-source {
                            padding: 10px 0 5px;
                            line-height: 18px;
                            font-size: 12px;
                            color: #888888;
                            border-top: 1px solid #e5e5e5;
                            display: block;
                        }

                        .limit-height {
                            max-height: 100px;
                            padding-bottom: 20px;
                            overflow: hidden;
                        }
                        .pb-20 {
                            padding-bottom: 20px;
                        }
                        .arrow-down {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 50px;
                            background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M4.596 5.843L0 1.247 1.06.187l4.597 4.595 1.06 1.061L1.062 11.5 0 10.44l4.596-4.597z' id='a'/%3E%3C/defs%3E%3Cuse fill='%23888' xlink:href='%23a' transform='rotate(90 5.75 5.75)' fill-rule='evenodd'/%3E%3C/svg%3E"),
                                linear-gradient(
                                    rgba(255, 255, 255, 0) 0%,
                                    rgba(255, 255, 255, 0.9) 70%,
                                    rgba(255, 255, 255, 1) 70%,
                                    rgba(255, 255, 255, 1) 100%
                                );
                            background-position: center 40px, center;
                            background-repeat: no-repeat;
                            background-size: 11px 6px, 100%;
                            border-radius: 19px;
                            &.up {
                                background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M4.596 5.843L0 1.247 1.06.187l4.597 4.595 1.06 1.061L1.062 11.5 0 10.44l4.596-4.597z' id='a'/%3E%3C/defs%3E%3Cuse fill='%23888' xlink:href='%23a' transform='rotate(90 5.75 5.75)' fill-rule='evenodd'/%3E%3C/svg%3E"),
                                    linear-gradient(rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
                                background-position: center 10px, center;
                                transform: scale(1, -1);
                            }
                        }
                        a:not(.btn) {
                            color: #0d94d7 !important;
                        }
                        .btn,
                        .text {
                            width: 100%;
                            font-size: 14px;
                            color: #0d94d7;
                            text-align: center;
                            display: block;
                        }
                        .btn {
                            height: 40px;
                            margin: 5px 0 5px;
                            line-height: 40px;
                            color: #fff;
                            border-radius: 5px;
                            background: #0d94d7;
                        }
                    }
                    .warn {
                        width: 285px;
                        padding: 4px 22px 6px;
                        box-sizing: border-box;
                        &-title {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .tips {
                                padding: 10px 0;
                            }
                            .turn-page {
                                font-size: 12px;
                                color: #0d94d7;
                                user-select: none;
                                &:active {
                                    opacity: 0.5;
                                }
                            }
                        }
                        .question {
                            padding: 10px 0;
                            line-height: 22px;
                            color: #0d94d7;
                            border-top: 1px solid #e5e5e5;
                            display: block;
                        }
                    }
                    .feedback {
                        position: absolute;
                        bottom: 50%;
                        right: -40px;
                        transform: translate3d(0, 50%, 0);
                        .like,
                        .unlike {
                            width: 30px;
                            height: 30px;
                            margin: 5px 0;
                            border-radius: 50%;
                            background-size: 100%;
                        }
                        .like {
                            background-image: url('https://static.wecity.qq.com/h5/2020-2/like-62dd0c25c0f5d38706b8a336047684b7.png');
                            &.on {
                                background-image: url('https://static.wecity.qq.com/h5/2020-2/like_on-6cabedaf88e34f0a31abc1280515bfcb.png');
                            }
                        }
                        .unlike {
                            background-image: url('https://static.wecity.qq.com/h5/2020-2/unlike-228e48acd27f41f02d1f786817278d54.png');
                            &.on {
                                background-image: url('https://static.wecity.qq.com/h5/2020-2/unlike_on-dbc2422530eca5ab2349625b0ccc3622.png');
                            }
                        }
                    }
                }

                .left {
                    float: left;
                    .warn,
                    .chat {
                        border-bottom-left-radius: 0;
                        background: #fff;
                    }
                }

                .right {
                    float: right;
                    .chat {
                        border-bottom-right-radius: 0;
                        color: #fff;
                        background: #0d94d7;
                    }
                }
            }

            .result {
                position: relative;
                width: 345px;
                margin: 15px auto;
                text-align: left;

                &-board {
                    position: relative;
                    width: 345px;
                    margin: 8px auto;
                    background: #fff;
                    font-size: 16px;
                    text-align: left;
                    border-radius: 12px;
                    box-sizing: border-box;
                    overflow: hidden;

                    &.limit-height {
                        max-height: 200px;
                        overflow: hidden;
                    }
                    .icon-arrow-down {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 20px;
                        background-color: rgba(255, 255, 255, 1);
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M4.596 5.843L0 1.247 1.06.187l4.597 4.595 1.06 1.061L1.062 11.5 0 10.44l4.596-4.597z' id='a'/%3E%3C/defs%3E%3Cuse fill='%23888' xlink:href='%23a' transform='rotate(90 5.75 5.75)' fill-rule='evenodd'/%3E%3C/svg%3E");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 11px 6px;
                        &.up {
                            transform: scale(1, -1);
                        }
                    }

                    .result-title {
                        width: 345px;
                        height: 85px;
                        padding: 0 22px;
                        background-image: url('https://static.wecity.qq.com/h5/2020-2/rbg_01-a421d0ce2a02cf4a64d0144e16874245.png');
                        background-size: 100%;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &.bad {
                            background-image: url('https://static.wecity.qq.com/h5/2020-2/rgb_02-28ff7b1b259fa552d606b556ae4b054f.png');
                        }
                        h4 {
                            font-size: 18px;
                            color: #fff;
                            font-weight: normal;
                            line-height: 32px;

                            &.red {
                                color: #e02020;
                                padding-bottom: 5px;
                            }
                        }
                    }

                    .result-content {
                        width: 100%;
                        padding: 10px 22px;
                        box-sizing: border-box;

                        p {
                            color: #666;
                        }
                        .nearby-hospital {
                            margin-top: 20px;
                            padding-left: 2px;
                            transform: translate3d(-2px, 0, 0);
                            font-size: 18px;
                            background-image: linear-gradient(270deg, #73e8fc 0%, #54bdff 100%);
                            background-repeat: no-repeat;
                            background-position: left bottom;
                            background-size: 44px 10px;
                        }
                        .source-inner {
                            font-size: 12px;
                            color: #888;
                        }
                        .entry {
                            position: relative;
                            width: 100%;
                            height: 48px;
                            padding: 12px 0 10px;
                            border-top: 1px solid #e5e5e5;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;

                            &-icon {
                                width: 28px;
                                height: 28px;
                                margin-right: 14px;
                                display: block;
                            }
                            &-name {
                                flex: 1;
                                color: #444;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 50%;
                                right: 0;
                                transform: translate3d(0, 50%, 0);
                                width: 7px;
                                height: 12px;
                                background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M4.596 5.657L0 1.06 1.06 0l4.597 4.596 1.06 1.06-5.656 5.658L0 10.253l4.596-4.596z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23CACACA' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%23888'%3E%3Cpath d='M-2-1H9v12H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                                background-repeat: no-repeat;
                                background-size: 7px 12px;
                            }
                        }
                        .suggestion {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        .hospital-box {
                            margin: 0 -12px;
                            padding: 10px 12px 0;
                            background: #fff6e4;
                            border-radius: 6px;
                        }
                        .entry-title {
                            display: flex;
                            align-items: center;
                            &-icon {
                                width: 20px;
                                height: 25px;
                                margin-left: 2px;
                                margin-right: 14px;
                            }
                            &-text {
                                font-size: 18px;
                            }
                        }
                        .hospital-list {
                            .hospital-item {
                                padding: 10px 0;
                                border-bottom: 1px solid #e5e5e5;
                                list-style: none;

                                .hospital-info {
                                    .title {
                                        font-size: 16px;
                                    }
                                    .info {
                                        display: flex;
                                        justify-content: space-between;

                                        .address {
                                            flex: 1;
                                            font-size: 12px;

                                            .tag {
                                                padding: 0 7px;
                                                margin: 9px 5px 9px 0;
                                                line-height: 20px;
                                                color: #fff;
                                                border-radius: 3px;
                                                display: inline-block;

                                                &.yellow {
                                                    background: #fbaa3f;
                                                }
                                                &.pick {
                                                    background: #ff9090;
                                                }
                                            }
                                            .detail {
                                                font-size: 14px;
                                                color: #888;
                                                display: block;
                                            }
                                        }
                                        .guide {
                                            width: 40px;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            .icon {
                                                width: 30px;
                                                height: 30px;
                                                margin: 4px 0;
                                                border-radius: 50%;
                                                background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.274 3.773L2.5 6.1V13H0V5h.054L0 4.935l3.5-2.936L1.5 0h6v6L5.275 3.773z' fill='%230074FF' fill-rule='evenodd'/%3E%3C/svg%3E");
                                                background-color: #f0f6ff;
                                                background-repeat: no-repeat;
                                                background-size: 8px 12px;
                                                background-position: center;
                                            }
                                            .distance {
                                                font-size: 12px;
                                                color: #888;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .link {
                            width: 100%;
                            height: 47px;
                            line-height: 50px;
                            text-align: center;
                            font-size: 15px;
                            color: #0074ff;
                        }
                    }
                }

                .source {
                    padding: 2px 10px;
                    line-height: 18px;
                    font-size: 14px;
                    color: #6684a1;
                    background: #e0f0ff;
                    border-radius: 12px;
                    display: inline-block;
                }
            }
            .keep-safe {
                width: 345px;
                padding: 15px 23px 6px 21px;
                margin: 15px auto;
                background: #fff;
                font-size: 16px;
                text-align: left;
                border-radius: 12px;
                box-sizing: border-box;
                h4 {
                    padding-left: 2px;
                    font-size: 18px;
                    background-image: linear-gradient(270deg, #73e8fc 0%, #54bdff 100%);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    background-size: 44px 10px;
                }
                p {
                    color: #333;
                    padding: 10px 0 0;
                }
                .source-inner {
                    font-size: 12px;
                    color: #888;
                    margin: 5px 0 10px 0;
                    display: block;
                }
            }

            .recommend-read {
                width: 345px;
                padding: 15px 21px 6px 21px;
                margin: 15px auto;
                background: #fff;
                font-size: 16px;
                text-align: left;
                border-radius: 12px;
                box-sizing: border-box;

                h4 {
                    padding-left: 2px;
                    font-size: 18px;
                    background-image: linear-gradient(270deg, #73e8fc 0%, #54bdff 100%);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    background-size: 44px 10px;
                }
                .data {
                    width: 100%;
                    height: 62px;
                    margin-top: 20px;
                    font-size: 12px;
                    background: #f7f7f7;
                    border-radius: 4px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &-box {
                        flex: 1;
                        padding: 10px 0;
                        .data-item {
                            line-height: 22px;
                            padding: 0 15px;
                            display: flex;
                            justify-content: space-between;
                            span {
                                color: #666;
                            }
                            .b {
                                color: #444;
                            }
                            b {
                                color: #444;
                                margin-left: 5px;
                            }
                        }
                    }
                    .more {
                        position: relative;
                        width: 2.1em;
                        height: 100%;
                        padding: 0 26px 0 17px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 18px;
                        color: #333;
                        background: #f0f0f0;
                        display: flex;
                        align-items: center;
                        &:after {
                            content: '';
                            position: absolute;
                            right: 10px;
                            bottom: 50%;
                            transform: translate3d(0, 50%, 0);
                            width: 7px;
                            height: 12px;
                            background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M4.596 5.657L0 1.06 1.06 0l4.597 4.596 1.06 1.06-5.656 5.658L0 10.253l4.596-4.596z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23CACACA' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%23888'%3E%3Cpath d='M-2-1H9v12H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: 7px 12px;
                            display: block;
                        }
                    }
                }
                .entry {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    &-item {
                        width: 115px;
                        height: 70px;
                        padding: 0 15px;
                        background: #e0f9f5;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        .entry-icon {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            display: block;
                        }
                        .entry-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            color: #001432;
                            .entry-name {
                                font-size: 14px;
                                line-height: 22px;
                            }
                            .entry-desc {
                                font-size: 11px;
                                line-height: 16px;
                            }
                        }
                    }
                }
                .chapter {
                    padding: 16px 0 0 2px;
                    border-bottom: 1px solid #e5e5e5;
                    &:last-of-type {
                        border: none;
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        h5 {
                            font-size: 16px;
                            font-weight: normal;
                            flex: 1;
                        }
                        img {
                            width: 90px;
                            height: 48px;
                            display: block;
                        }
                    }
                    .info {
                        width: 100%;
                        padding: 12px 0 17px;
                        font-size: 14px;
                        color: #666;
                        display: flex;
                        justify-content: space-between;

                        .who {
                            position: relative;
                            width: calc(40% - 10px);
                            &::after {
                                content: '';
                                position: absolute;
                                top: 5px;
                                right: 0;
                                width: 1px;
                                height: 13px;
                                background: #666;
                            }
                        }
                        .where {
                            width: calc(60% - 10px);
                            text-align: right;
                        }
                    }
                }
            }
        }

        .footer {
            position: relative;
            width: 100%;
            background: #fff;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
            padding-bottom: constant(safe-area-inset-bottom);
            padding-bottom: env(safe-area-inset-bottom);
            z-index: 2;

            .select {
                width: 100%;
                padding: 7px 5px 7px 15px;
                background: #fff;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                justify-content: start;

                &-item {
                    min-width: 108px;
                    margin: 7px 10px 7px 0;
                    padding: 10px 20px;
                    font-size: 16px;
                    line-height: 22px;
                    border-radius: 8px;
                    text-align: center;
                    color: #444;
                    background: #f2f2f2;
                    box-sizing: border-box;

                    &.small:nth-of-type(3n) {
                        margin-right: 0;
                    }

                    &.mid {
                        width: calc(50% - 5px);
                        &:nth-child(odd) {
                            margin-right: 0;
                        }
                    }
                    &.big {
                        width: 100%;
                        height: auto;
                        line-height: 22px;
                        padding: 10px 20px;
                        margin-right: 0;
                    }

                    &.selected {
                        border: none;
                        color: #fff;
                        background: #0d94d7;
                    }
                }
            }

            .submit {
                width: 100%;
                height: 48px;
                line-height: 48px;
                font-size: 16px;
                color: #000;
                text-align: center;
                border-top: 1px solid #e5e5e5;
                display: flex;
                justify-content: space-around;

                .submit-item {
                    width: 50%;
                    &.single {
                        width: 100%;
                    }
                    .has-mark {
                        position: relative;

                        .hot {
                            position: absolute;
                            right: -24px;
                            bottom: 50%;
                            width: 22px;
                            height: 12px;
                            background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='%23F85B62' fill-rule='nonzero' width='22' height='12' rx='2'/%3E%3Ctext font-family='PingFangSC-Regular, PingFang SC' font-size='8' fill='%23FFF'%3E%3Ctspan x='3.076' y='9'%3EHOT%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: 22px 12px;
                        }
                    }
                }
            }
            .more-box {
                width: 100%;
                height: 0;
                overflow: hidden;
                transition: height 0.3s;
                &.show {
                    height: 120px;
                }
                .swiper-container {
                    height: auto;
                }
                .swiper-wrap {
                    width: 100%;
                    padding: 15px 5px 15px 15px;
                    margin-bottom: 5px;
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    .swiper-item {
                        position: relative;
                        width: 80px;
                        margin-right: 8px;
                        height: 32px;
                        line-height: 32px;
                        border-radius: 32px;
                        background: #ecf5fd;
                        margin-bottom: 11px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &.large {
                            width: 110px;
                            background-color: #f7f7f7;
                        }
                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                            display: block;
                            &.arrow {
                                width: 10px;
                                height: 10px;
                                margin-right: 0;
                            }
                        }
                        p {
                            font-size: 13px;
                            color: #444;
                            text-align: center;
                        }
                        .hot {
                            position: absolute;
                            right: -4px;
                            top: -8px;
                            width: 22px;
                            height: 12px;
                            background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='%23F85B62' fill-rule='nonzero' width='22' height='12' rx='2'/%3E%3Ctext font-family='PingFangSC-Regular, PingFang SC' font-size='8' fill='%23FFF'%3E%3Ctspan x='3.076' y='9'%3EHOT%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: 22px 12px;
                        }
                    }
                }
            }

            .input {
                padding: 8px 15px 8px 15px;
                box-sizing: border-box;
                border-top: 1px solid #e5e5e5;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    width: 280px;
                    height: 40px;
                    font-size: 16px;
                    padding: 0 10px;
                    font-size: 16px;
                    background: #f7f7f7;
                    border-radius: 40px;
                }
                .icon-more {
                    width: 32px;
                    height: 32px;
                    margin: 0 10px;
                    background-image: url('https://static.wecity.qq.com/h5/2020-2/more-72cb491507c7313ed10dc16a6498454a.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    &.on {
                        background-image: url('https://static.wecity.qq.com/h5/2020-2/more_on-7d46f92d9eddf7f7be795b5f3405ddf7.png');
                    }
                }
                .icon-send {
                    width: 32px;
                    height: 32px;
                    background-image: url('https://static.wecity.qq.com/h5/2020-2/send-8fa405e4c253478508aeadd11bd7c346.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    &.on {
                        background-image: url('https://static.wecity.qq.com/h5/2020-2/send_on-0f2c768d716ff5bc00a7d840b598fcb9.png');
                    }
                }
            }
        }
    }

    .alert-wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;

        .alert-content {
            width: 290px;
            padding: 15px 25px;
            margin: 0 auto;
            color: #333;
            background-color: #fff;
            border-radius: 10px;
            .title {
                font-size: 19px;
            }
            .desc {
                margin: 7px 0 15px;
                color: #666;
                font-size: 13px;
                line-height: 18px;
                display: block;
            }
            .article {
                width: 100%;
                height: 300px;
                margin-bottom: 10px;
                font-size: 15px;
                line-height: 22px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .msg-source {
                margin-top: 10px;
                padding: 10px 0 5px;
                line-height: 18px;
                font-size: 12px;
                color: #888888;
                border-top: 1px solid #e5e5e5;
                display: block;
            }
            .alert-entry {
                width: 270px;
                height: 40px;
                margin: 15px auto 0 auto;
                line-height: 40px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                background: #0d94d7;
                border-radius: 10px;
            }
        }
        .alert-close {
            width: 33px;
            height: 33px;
            margin: 15px auto 0;
            background-image: url('https://static.wecity.qq.com/h5/2020-2/close-0ed047d1ab68e5700fac45a83c790a71.png');
            background-size: 100%;
        }
    }

    .share-dialog {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        z-index: 3;
        .dialog-close {
            width: 24px;
            height: 24px;
            margin-right: 27px;
            background-image: url('https://static.wecity.qq.com/h5/2020-2/close-8099280462c21e523b042746735c3a07.png');
            background-repeat: no-repeat;
            background-size: 100%;
            float: right;
        }
        .share-img {
            width: 320px;
            height: 536px;
            margin: 10px auto;
            border-radius: 8px;
            background: #fff;
            overflow: hidden;
        }
        .share-guide {
            width: 100%;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
            color: #fff;
        }
    }
}
.loading-wrapper {
    text-align: left;
    margin: 13px;
    margin-top: 5px;
}
.loading {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px !important;
    padding: 0 10px !important;
    .bounce {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        position: relative;
        &.bounce1 {
            animation-delay: -0.32s;
            background-color: rgba($color: #0d94d7, $alpha: 1);
        }
        &.bounce2 {
            animation-delay: -0.16s;
            background-color: rgba($color: #0d94d7, $alpha: 0.8);
        }
        &.bounce3 {
            background-color: rgba($color: #0d94d7, $alpha: 0.6);
        }
    }
}
@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
