.expert-wrap {
    .expert-card {
        border: thRem(0.01rem) solid rgba(0, 0, 0, 0.08);
        border-radius: thRem(0.12rem);
        padding-bottom: thRem(0.32rem);
        box-shadow: 0 thRem(0.08rem) thRem(0.08rem) 0 rgba(0, 0, 0, 0.05);

        .expert-title {
            display: flex;
            padding: thRem(0.24rem) thRem(0.24rem) thRem(0.24rem) 0;
            align-items: center;
            position: relative;

            &:after {
                @include setBottomLine(rgba(0, 0, 0, 0.08));
            }

            .expert-text {
                flex: 1;
                padding-left: thRem(0.68rem);
                line-height: thRem(0.45rem);
                font-size: thRem(0.32rem);
                color: #00b9d1;
                letter-spacing: thRem(0.01rem);

                background: {
                    image: url(~src/assets/images/mobile/pneumonia/txyd.png);
                    size: thRem(0.34rem);
                    position: thRem(0.24rem) center;
                    repeat: no-repeat;
                }
            }

            .expert-more {
                font-weight: $font-medium;
                font-size: thRem(0.24rem);
                color: rgba(0, 0, 0, 0.85);
                text-align: center;
                line-height: thRem(0.34rem);
                padding-right: thRem(0.22rem);

                background: {
                    image: url(~src/assets/images/mobile/pneumonia/arrow.png);
                    repeat: no-repeat;
                    size: thRem(0.11rem) 0.2rem;
                    position: right center;
                }
            }
        }

        .expert-item {
            // margin-top: thRem(0.08rem);
            padding: thRem(0.32rem) thRem(0.24rem);
            display: flex;
            align-items: stretch;

            .expert-info {
                flex: 1;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                flex-direction: column;

                // align-items:center;
                .info-title {
                    font-size: thRem(0.32rem);
                    color: rgba(1, 1, 1, 0.85);
                    letter-spacing: thRem(0.01rem);
                    line-height: 1.4;
                    @include setLineClamp(2);
                }

                .info-desc {
                    margin-top: thRem(0.2rem);
                    font-size: thRem(0.28rem);
                    color: rgba(0, 0, 0, 0.25);
                    letter-spacing: thRem(0.01rem);
                    @include setLineClamp(1);
                }
            }

            .expert-img {
                font-size: 0;
                margin-left: thRem(0.36rem);

                img {
                    border-radius: 50%;
                    width: thRem(1.52rem);
                    height: thRem(1.52rem);
                }

                &.video {
                    margin-left: thRem(0.12rem);
                    position: relative;

                    &:after {
                        position: absolute;
                        content: '';
                        height: thRem(0.48rem);
                        width: thRem(0.48rem);
                        border-radius: thRem(0.24rem);
                        left: 50%;
                        top: 50%;
                        margin-top: thRem(-0.24rem);
                        margin-left: thRem(-0.24rem);

                        background: {
                            image: url(~src/assets/images/mobile/pneumonia/video.png);
                            repeat: no-repeat;
                            size: 100%;
                            position: center;
                        }
                    }

                    img {
                        width: thRem(2.27rem);
                        height: thRem(1.52rem);
                        border-radius: thRem(0.12rem);
                    }
                }
            }
        }

        .expert-btn {
            padding: 0 thRem(0.24rem);

            .btn {
                background: #00b9d1;
                border-radius: thRem(0.12rem);
                text-align: center;
                color: #ffffff;
                padding: thRem(0.2rem) 0;
                font-size: thRem(0.32rem);
                font-weight: $font-medium;
                line-height: thRem(0.46rem);
                color: #fff;
            }
        }
    }

    .small-banner {
        height: thRem(1.6rem);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin: 0 thRem(0.32rem);
        margin: 0;
        margin-top: thRem(0.48rem);
        .banner-item {
            width: thRem(3.25rem);
            height: inherit;
            border-radius: thRem(0.12rem);
            overflow: hidden;
            position: relative;

            .text {
                width: thRem(1.3rem);
                height: thRem(0.8rem);
                word-break: break-all;
                font-size: thRem(0.3rem);
                color: #ffffff;
                margin: thRem(0.25rem) 0 0 thRem(0.25rem);
                position: relative;
                z-index: 99;
            }

            img {
                width: inherit;
                height: inherit;
                border-radius: thRem(0.12rem);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .hospital-list {
        margin-top: thRem(0.24rem);
        .hospital-item {
            padding: thRem(0.46rem) 0 thRem(0.46rem) thRem(0.3rem);

            background: {
                color: #fff0db;
                repeat: no-repeat;
                size: 100%;
                position: center;
            }

            border-radius: thRem(0.12rem);

            &:not(:first-child) {
                margin-top: thRem(0.16rem);
            }

            font-size: 0;

            span {
                font-size: thRem(0.32rem);
                color: #151515;
                letter-spacing: thRem(0.01rem);
                font-weight: $font-medium;
                padding-right: thRem(0.4rem);
                display: inline-block;
                line-height: thRem(0.36rem);

                background: {
                    image: url(~src/assets/images/mobile/pneumonia/circle-arrow.png);
                    repeat: no-repeat;
                    size: thRem(0.32rem);
                    position: right center;
                }
            }
        }
    }
}
